# =========================
# Python virtual environment
# =========================
.venv/
venv/
ENV/
env/

# =========================
# Python cache / compiled files
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temp
# =========================
*.log
*.tmp
 

# test
